@import "tailwindcss";

:root {
  --background: #ffffff;              /* Main background */
  --surface: #F4EEE5;                 /* Cards, headers, surfaces */
  --primary: #051448;                 /* Buttons, important font color */
  --secondary-surface: #092278;       /* Footer and smaller components */
}

@font-face {
  font-family: 'Onest';
  src: url('/fonts/Onest-Regular.ttf') format('truetype');
  
}


body {
  background: var(--background);
  color: var(--primary);
  font-family: 'Onest';
}
